* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $base-font;
}

body {
    font-size: $base-font-size;
    background-color: $primary-bgr-color;
    margin: 0 auto;
}

// .center {
//     margin: 0 auto;
//     max-width: $max-width;
//     padding: $base-margin;
// }

h1, h2, h3, h4, h5, h6 {
    font-family: $headers-font;
    text-transform: uppercase;
}

ul {
    margin: 0;
    padding: 0;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: $base-color;
    cursor: pointer;
}

p {
    line-height: 1.5;
}

.clear {
    clear: both;
}

@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@keyframes fadeOut {
    from { opacity: 1; }
      to { opacity: 0; }
}
