* {
    box-sizing: border-box;
}

$base-width: 100%/12;

.container {
  max-width: $max-width;
  margin: 0 auto;
}

.container-fluid {
    width: 100%;
    margin: 0 auto;
}

.row {
    margin: 0;
    // border: 2px solid black;
    height: 100%;
}

.row::before,
.row::after {
  content: ' ';
  display: table;
  clear: both;
}

[class*='col'] {
  float: left;
  min-height: 1px;
  width: $base-width;
  padding: $base-padding;
  // border: 2px solid red;
}

@for $i from 1 through 12{
  .col#{$i}{
    width: $base-width * $i;
  }
}
