.nav {
    position: fixed;
    top: 0;
    overflow: hidden;
    width: 100%;
    text-transform: uppercase;
    z-index: 99;
    &__menu {
        max-width: 100%;
        list-style: none;
        visibility: visible;
        opacity: 1;
        transition: all 1s;
        clear: both;
        background-color: $primary-bgr-color;
    }

    //after clicking the button - humburger menu

    &--unvisible {
        visibility: hidden;
        opacity: 0;
        transition: all 1s;
    }

    &__item {
        height: 100%;
    }

    &__logo {

    }

    &__link {
        display: block;
        text-align: center;
        padding: $base-padding*2;
        &:hover {
            font-weight: 700;
        }
    }

    &--active {
        font-weight: 700;
    }
}

//mobile navigation - humburger//

.mobile {
    float: right;
    position: relative;
    &__btn {
        padding: $base-padding*2 $base-padding*3;
        cursor: pointer;
        background: transparent;
        float: right;
        span {
            display: block;
            width: 28px;
            height: 3px;
            margin: $base-margin/3 0;
            background-color: $base-color;
            transition: 1s;
        }
    }
    &--change {
        &:first-child {
            transform: rotate(-45deg) translate(-4px, 8px);
        }
        &:nth-child(2) {
            opacity: 0;
        }
        &:last-child {
            transform: rotate(45deg) translate(-2px, -6px);
        }
    }
}

//header section//

.header {
    margin-top: 89px;
    height: 420px;
    &__photo {
        background: #b1b1b1;
        height: 100%;
        max-width: 100%;
        float: right;
    }
    &__title {
        display: none;
    }
}

.vertical-text {
    height: 100%;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    justify-content: flex-end;
    p {
        writing-mode: vertical-rl;
        text-orientation: sideways;
        transform: rotate(180deg);
        margin-top: 50px;
    }
    &__facebook-icon {
        display: none;
    }
}

.long-line {
    margin-top: $base-padding*2;
    transform: rotate(90deg);
    height: 1px;
    width: 45px;
    background-color: $base-color;
}


@media (min-width: $tablet) {
    .nav {
        &__menu {
            clear: none;
            float: left;
            padding: 0;
            display: flex;
            justify-content: flex-end;
        }
        .col12 {
            width: $base-width*10;
        }
        &--unvisible {
            visibility: visible;
            opacity: 1;
            transition: 0s;
        }
        &__item {
            display: inline-block;
            &:last-child {
                padding-right: $base-padding*2;
            }
        }
        &__link {
            padding: $base-padding*4 $base-padding*2;
        }
    }
    .mobile {
        display: none;
    }

    //header section//
    .header {
        height: 500px;
        margin-top: 101px;
        &__photo {
            max-width: 65%;
            .col10 {
                width: $base-width*11;
            }
        }
        &__title {
            display: block;
            margin-left: $base-width;
            position: relative;
            .col5 {
                position: absolute;
                top: 50px;
                // left: 50px;
                margin-left: $base-width;
            }
            h1, button {
                padding: $base-padding/2 auto;
                line-height: 1;
                text-transform: uppercase;
            }
            h1 {
                font-size: $headers-font-size*1.6;
                line-height: 1;
            }
        }
        &__paragraph {
            line-height: 1.5;
            padding-bottom: $base-padding*2;
        }
    }
    .vertical-text {
        width: $base-width;
        align-items: flex-start;
        position: relative;
        p {
            margin-left: $base-padding*1.2;
        }
        &__facebook-icon {
            display: block;
            margin-left: $base-padding*0.7;
            position: absolute;
            bottom: 0;
        }
    }
    .short-line {
        height: 1px;
        width: 20px;
        background-color: $base-color;
        display: inline-block;
        margin-bottom: 4px;
    }
}

@media (min-width: $desktop) {
    .nav {
        &__item {
            &:last-child {
                padding-right: 0;
            }
        }
        &__link {
            padding: $base-padding*4;
        }
    }
    .header {
        height: 750px;
        &__title {
            .col5 {
                top: 100px;
                left: 100px;
            }
            h1 {
                font-size: $headers-font-size*2;
            }
        }
    }
}
