$base-font: 'Oxygen', sans-serif;
$headers-font: 'Rozha One', serif;

$primary-bgr-color: #f1f1f1;
$secondary-bgr-color: #ebebeb;

$base-color: #070707;
$second-color: #b1b1b1;
$third-color: #a4a4a4;

$base-font-size: 14px;
$headers-font-size: 32px;

$max-width: 1200px;

$base-padding: 10px;
$base-margin: 12px;


$tablet: 768px;
$desktop: 1024px;
